html, body{
    width: 100%;
    background-color: #403C3A;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100%;
    position: absolute;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
}
