header{
    width: 100%;
    position: relative;
}

.info{
    background-color: black;
}

.top{
    /* display: inline; */
    text-align: right;
    width: 100%;
}

.tabs{
    background-color: black;
    margin: 0;
    padding: 0.6rem;
    border-color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.img-top{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.conteudo{
    margin: 1rem 4rem 4em 4rem;
}

.titulo{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
}

.tabs:hover{
    background-color: rgb(73, 73, 73);
}

.coluna p img{
    float: left;
    margin-right: 2rem;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.coluna{
    columns: 2;
    gap: 2rem;
    font-size: 1.2rem;
    text-align: justify;
    /* text-indent: 1.2em; */
}

footer{
    width: 100%;
    height: 6vh;
    background-color: black;
    bottom: 0;
    position: absolute; 
    
}

.final{
    position: absolute;
    margin: 0.6rem;
    font-size: 1rem;
    
}

.final a, .final p{
    color: rgb(160, 150, 150);
}

